body {text-align: center;margin: 10;font-family: Verdana, Arial, sans-serif;font-size: 16px;}

h1 {font-size: 48px;text-align: center;}

.text {min-height: 300px;min-width: 500px;border: solid;border-width: 1px;text-align: left;
	-webkit-box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);-moz-box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
}
.add_part_f{display: flex;flex-direction: row;flex-wrap: wrap;border: double; margin: 1rem;border-radius: 1rem; padding: 0.5rem;}
input, .add_part_f_label{max-width:90%}

button,input {margin:0.2rem}
.input_text {width:13.5rem}
button{cursor: pointer;}

#show_room,#show_m{position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;word-spacing:0.5rem;overflow:auto; background: grey;}

.rooms{position: relative;margin: 1rem; background-color: lightblue;padding: 0.5rem;border: 4px double black;border-radius: 1rem;}

.save_data{margin:1rem;background-color:lightblue;padding:0.5rem;border:4px double black;border-radius:1rem;display:flex;justify-content:space-between;}

#but_close{position: fixed;right: 0;z-index: 1;}

.buttons{position: fixed;right: 0;font-size: 2rem;width: 3rem; height: 3rem; border-radius: 0.3rem;}

.child_close_but{position: absolute;bottom: -1rem; left: -1rem;}

a{color: white;}
